<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Animes</h1>
    <ul>
        <!-- Iniciamos um loop FOR para percorrer cada anime da lista -->
    {%for anime in lista_animes %}
        <li> <strong> {{anime.nome}} </strong>
            <!-- Verificamos se o status é finalizado (True ou False) -->
        {%if anime.finalizado %}
            <em style="color: green;">(Finalizado)</em>
        {%else%}
            <em style="color: orange;">(Em andamento: {{anime.eps_vistos}} / {{anime.total_eps}} episodios )</em>

            <form action="/atualizar" method="post" style="margin-top: 5px;">
                <form action="/atualizar" method="POST" style="margin-top: 5px;">
                <!-- O campo hidden (oculto) envia o nome do anime para o Python saber qual atualizar -->
                <input type="hidden" name="nome_anime" value="{{ anime.nome }}">
                <input 
                    type="number" 
                    name="novos_eps" 
                    min="1" 
                    max="{{ anime.total_eps - anime.eps_vistos }}" 
                    placeholder="+ Eps" 
                    required 
                    style="width: 80px; padding: 5px; font-size: 16px;"
                    >
                <button type="submit">Atualizar</button>
            </form>
        {%endif%}
        </li>
        {%endfor%}
    </ul>
</body>
</html>