<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div style="text-align: right;">
        Bem-vindo, {{ session.usuario_logado }}! 
        <a href="/logout">Sair da conta</a>
    </div>


    <h1>Lista de Animes</h1>
    <ul>
        <!-- Iniciamos um loop FOR para percorrer cada anime da lista -->
    {%for anime in lista_animes %}
        <li> <strong> {{anime.nome}} </strong>
            <em style="color: black;">({{anime.tipo}})</em>
            <!-- Verificamos se o status é finalizado (True ou False) -->
        {%if anime.finalizado %}
            <em style="color: green;">(Finalizado)</em>
        {%else%}
            
            {%if anime.eps_vistos == 0 %}
                <em style="color: gray;">(Não iniciado)</em>
            {%else%}
                <em style="color: orange;">(Em andamento: {{anime.eps_vistos}} / {{anime.total_eps}} episodios )</em>
            {%endif%}
            
            <form action="/atualizar" method="post" style="margin-top: 5px;">

                <!-- O campo hidden (oculto) envia o nome do anime para o Python saber qual atualizar -->
                <input type="hidden" name="nome_anime" value="{{ anime.nome }}">
                <input type="number" name="novos_eps" min="1" max="{{ anime.total_eps - anime.eps_vistos }}"
                placeholder="+ Eps" required style="width: 80px; padding: 5px; font-size: 16px;">
                <button type="submit">Atualizar</button>
            </form>
        {%endif%}
        </li>
        {%endfor%}
    </ul>


    {% if historico_acoes %}
        <form action="/desfazer" method="POST" style="margin-top: 20px;">
            <button type="submit" style="background-color: #ff4d4d; color: white; padding: 10px; border: none; cursor: pointer; border-radius: 5px;">
                Desfazer última alteração em "{{ (historico_acoes|last).nome }}" <!-- O filtro '| last' pega exatamente a última alteração que foi guardada -->
            </button>
        </form>
    {% endif %}


</body>
</html>